
<div class="categoryDiv">
    <div class="categoryTitle">
        <div class="catTitleName">
            Wines
        </div>
        <div class="catTitleSeeMore">
            <span class="seeMoreTxt">See More</span><span class="seeMoreIcon"><i class="fas fa-greater-than"></i></span>
        </div>
    </div>
    <div class="catBody">
        <div class="catBodyDetails">
            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>

                        </div>

                    </div>
                </div>
            </div>


            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>
                            
                        </div>

                    </div>
                </div>
            </div>


            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>
                            
                        </div>

                    </div>
                </div>
            </div>


            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>
                            
                        </div>

                    </div>
                </div>
            </div>


            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>
                            
                        </div>

                    </div>
                </div>
            </div>


            <div class="itemDiv">
                <div class="itmePic">
                    <img src="../../assets/testImgs/nederburg.jpg" class="itemImgTag">
                </div>
                <div class="itemDetails">
                    <div class="itemName">
                        Nederberg Cab Sauv
                    </div>
                    <div class="itemPrice">

                        <div>

                            <span class="itemPriceCurrency">
                                Ksh.
                            </span>

                            <span class="itemPriceValue">
                                1800
                            </span>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>