
<div class="categoryDiv">

    <div class="categoryTitle" id="cDT{{catId}}">

        <div class="catTitleName" id="cDTCTN{{catId}}" >

            {{catName}}

            <div class="catDetClickable"  id="cDTCTNclk{{catId}}" (click)="this.catTitleName($event)">

            </div>

        </div>

        <div class="catTitleSeeMore">

            <span class="seeMoreTxt">More</span>

            <div class="catDetClickable" id="cTSM{{catId}}" (click)="this.catTitleSeeMore($event)">

            </div>

        </div>

        <a routerLink="/products" class="productsLinkItem nosite" id="pCTSM{{catId}}"></a>

    </div>

    <div class="catBody">
        <div class="catBodyDetails">

            <div *ngFor="let catDet of this.catProdsArray">

                <app-product-pellete
                [productDetails] = catDet>

                </app-product-pellete>
            </div>

        </div>
    </div>
    

</div>