<div class="rMPage">
    <div class="rMPHead">
        RETAILER MANAGEMENT
    </div>
    <div class="rMPBody">
        <div class="rMPBControlButs addRtailer">
            Add Retailer
        </div>
        <div class="rMPBControlButs removeRtailer">
            Remove Retailer
        </div>
    </div>
    <div class="rMPControls nosite">
        <div class="setOrRemoveRetailer nosite">
            <div class="setOrRemoveRetailerControllers">
                <div class="setOrRemoveRetailerControllersCancelBut">
                    Cancel
                </div>
                <div class="setOrRemoveRetailerControllersDoneBut">
                    Done
                </div>
            </div>
            <div class="searchDiv">
                <app-user-search>

                </app-user-search>
            </div>
        </div>
    </div>
</div>
