<div class="productMAnagementPage">
    <div class="prodManagementHead">
        Product Management
    </div>
    <div class="prodManagementBody">
        <div class="prodManagementButs priceChange">
            Change price
        </div>
        <div class="prodManagementButs">
            Quantity reduction
        </div>
        <div class="prodManagementButs soldProducts">
            Sold products
        </div>
        <div class="prodManagementButs prodStats">
            Product Statistics
        </div>
    </div>
    <div class="prodManagementControls">
        <div class="priceChangeHolder">
            <div class="productSelection">
                <app-product-search>

                </app-product-search>
            </div>
            <div class="priceCange">
                
            </div>
        </div>
    </div>
</div>
