.productMAnagementPage{
    width: 100%;
    height: auto;
}
.prodManagementHead{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.prodManagementBody{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.prodManagementButs{
    width: 200px;
    height: 50px;
    border-radius: 3px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  5px 5px 7px #b3b3b3,
                 -5px -5px 7px #ffffff;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;    
}
.prodManagementControls{
    width: 100%;
    height: auto;
}
.priceChangeHolder{
    width: 100%;
    height: auto;
}
.productSelection{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 101;
}
.productSelectionBody{
    width: 95%;
    height: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media all and (min-width:800px) {
    .productSelectionBody{
        width: 400px;
        height: 95%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 3px;
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
}
.pSBControlHead{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    border-bottom: 1px solid #2C2B3C;
}
.pSBCHDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pSBCSDBut{
    width: 50%;
    height: 60%;
    border-radius: 3px;
    background-color: #2C2B3C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inputHolder{
    width: 100%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid #2C2B3C;
}
.iHDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchProductToEdit{
    width: 95%;
    height: 95%;
    outline: none;
    border: 0px solid;
    font-size: 100%;
}
.searchResultHolder{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sRProductDetailsTab{
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #e2e2e2f6;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 3px;
}
.sRPDTDiv{
    width: 100%;
    height: 100%;
}
.sRPDTProductImgHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sRProductImage{
    width: 90%;
    height: 80%;
    object-fit: contain;
}
.sRPDTPDProdName{
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sRPDTPDProdBarcode{
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sRPDTabClicker{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.selectedProductsSect{
    width: 100%;
    height: auto;
}
.sPSPDTHolder{
    width: 80%;
    height: 80px;
    box-shadow:  5px 5px 7px #b3b3b3,
                 -5px -5px 7px #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    left: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sPSProductDetailsTap{
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 90%;
    position: relative;
}
.sPSPDTImageHolder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sPSPDTIHImgTag{
    width: 65px;
    height: 65px;
    object-fit: contain;
}
.sPSTDTProdDetails{
    width: 100%;
    height: 100%;
}
.sPSTDTPDDivs{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.sPSPDTClickable{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    cursor: pointer;
}
.pressenceTick{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pressenceTickAlt{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDetailsCangeForm{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 101;
}
.pDCFBody{
    width: 95%;
    height: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media all and (min-width:800px) {
    .pDCFBody{
        width: 500px;
        height: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 50px;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 5px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
}
.pDCFHead{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid #2C2B3C;
}
.pDCFHead div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}
.closeForm{
    font-size: 100%;
    transition: all ease 0.2s;
    cursor: pointer;
}
.closeForm :hover{
    font-size: 130%;
}
.prodMediaDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pMDchangeMediaDiv{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cMDBut{
    width: 100px;
    height: 40px;
    background-color: #2C2B3C;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}
.pMDMediaHolder{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pMDMHMedia{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pDCBDetailsSect{
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}
.pDCBDSInput{
    width: 100%;
    height: 40px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    border: 0px solid;
    border-bottom: 1px solid #2C2B3C;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pDCBProductsChangeControls{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
@media all and (min-width:800px) {
    .pDCBProductsChangeControls{
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }    
}
.pDCBPCCDivs{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (min-width:800px) {
    .pDCBPCCDivs{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.pDCBPCCBut{
    min-width: 100px;
    max-width: 100%;
    height: 35px;
    background-color: #2C2B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 100%;   
    padding: 3px;
    box-sizing: border-box; 
    border-radius: 3px;
}
.imgholdertest{
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    top: -100%;
}
.sendImgPrompt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2c2b3c52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sIPBody{
    width: 80%;
    height: 40%;
    background-color: #ffffff;
    color: #2C2B3C;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}
.sIBHead{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #2C2B3C;
    display: grid;
    grid-template-columns: 90% 10%;
}
.sIBHBut{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sIBHClose{
    cursor: pointer;
    font-size: 100%;
    transition: all ease 0.25s;
}
.sIBHClose :hover{
    font-size: 130%;
}
.sIPBBoday{
    width: 100%;
    height: 40%;
    padding: 10px;
    box-sizing: border-box;    
}
.controlButs{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.cBBut{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cBBBut{
    width: 100px;
    height: 39px;
    background-color: #2C2B3C;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}


.editableColumnsToChoose{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 101;    
}
.eCTCBody{
    width: 95%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    padding: 5px;
    box-sizing: border-box;
}
@media all and (min-width:800px) {
    .eCTCBody{
        width: 40%;
        height: 70%;
        background-color: #ffffff;
        border-radius: 3px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 50px;
        padding: 5px;
        box-sizing: border-box;
    }
    
}
.eCTCBHead{
    width:100%;
    height:15%;
    border-bottom: 1px solid #2C2B3C;
    display: grid;
    grid-template-columns: 90% 10%;
}
.eCTCBHDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}
.eCTCBHClose{
    font-size: 100%;
    cursor: pointer;
    transition: all ease 0.25s;
}
.eCTCBHClose :hover{
    font-size: 130%;    
}

.eCTCBBody{
    width: 100%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.columnToChooseTile{
    width: 90%;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #e2e2e2f6;
    padding: 5px;
    box-sizing: border-box;
}
.chosenTick{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
}
.cTCTClickable{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.eCTCBFooter{
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.eCTCBFDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eCTCBFBut{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #2C2B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}




.nosite{
    display: none;
}