<div class="productUploadPage">
    <div *ngIf="this.uploadType=='newProduct'; else elseBlock" class="pUPHolder">
        <div class="pUPNewProdPg">
            <div class="controlsSect">
                <div class="cSFileChooser">
                    Choose Image
                    <input type="file" accept="image/*" id="csRFileChooser" class="nosite">
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            Not For You
        </div>
    </ng-template>
    <div class="pUtoolsSect nosite">
        <div class="pUTSProductManipulator">
            <div class="imgHolderSect">
                <img src="../../assets/bunnerImgs/bunner3.jpeg" class="imgMAnProdPic">
                <div class="imgManControllers">
                    <div class="btnNext">
                        Details
                    </div>
                </div>
            </div>
            <div class="productetailsSect nosite">
                <div class="detailsTitle">
                    Product Details
                </div>
                <input type="text" name="productBarCode" id="productBarCode" class="prodDetTextInput" placeholder="barcode">
                <input type="text" name="productName" id="productName" class="prodDetTextInput" placeholder="Product Name">
                <div style="position: relative;">
                    <input type="text" name="productMetrics" id="productMetrics" class="prodDetTextInput" placeholder="Metrics">
                    <div class="chosenMetricsDisplay">
                        {{this.chosenMetric}}
                    </div>
                    <div class="metricsUnitsDDI">
                        <div class="mUDDIInnerDiv">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <ul class="metricsUnitsList nosite">    
                        <li class="mUListItem" *ngFor="let productMetric of this.mericsArray" id="mULI{{this.mericsArray.indexOf(productMetric)}}"
                            (click)="this.listItemClick($event)"
                        > {{productMetric}}</li>
                    </ul>
                </div>
                
                <input type="text" name="productQuantity" id="productQuantity" class="prodDetTextInput" placeholder="Quantity">
                <input type="text" name="productPrice" id="productPrice" class="prodDetTextInput" placeholder="Price">
                <input type="text" name="productCategoryipt" id="productCategoryipt" class="prodDetTextInput" placeholder="Product Category"
                (keyup)="this.productCategoryipt($event)">
                <div class="prevSectBut">
                    Previous
                </div>
                <div class="productDetailsSubmmiter">
                    Finish
                </div>
                <div class="categoryAnsDiv nosite">
                    <div class="cADTitle">
                        <div class="cADTString">
                            Categories
                        </div>
                    </div>
                    <div class="cADBody">
                        <div *ngFor="let catResults of this.predictedCategories">
                            <div class="cTResultTab" id="cTRT{{catResults.id}}"
                            (click)="this.cTResultTab($event)">
                                {{catResults.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loaderDiv nosite">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto; animation-play-state: running; animation-delay: 0s;" width="150px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loaderSvg">
                    <path fill="none" stroke="#032a77" stroke-width="4" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round" style="transform: scale(0.8); transform-origin: 50px 50px; animation-play-state: running; animation-delay: 0s;">
                    <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0;256.58892822265625" style="animation-play-state: running; animation-delay: 0s;"></animate>
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="addingCategoriesSect nosite">
        <div class="aCSCatImgHolder">
            <img src="../../assets/bunnerImgs/bunner3.jpeg" class="prodCatImg">
            <div class="catImgManCOntrollers">
                <div class="catSectBtnNext">
                    Details
                </div>
            </div>
        </div>
        <div class="catDetailsSect nosite">
            <div class="detailsTitle">
                Category Details
            </div>
            <input type="text" name="categoryName" id="categoryName" class="catDetTextInput" placeholder="Category name"> 
            <div class="catPrevSectBut">
                Previous
            </div>
            <div class="catFinButton">
                Finish
            </div>    
        </div>
    </div>

    <div class="sWFLMain nosite">
        <div class="sWFLMBody">
    
            <div class="sWFLMHead">
    
                <div class="sWFLHTitle sWFLDiv">
                    DALALI
                </div>
    
                <div class="sWFLClose sWFLDiv"
                (click)="this.closeFeedbackLoop()">
                    <i class="fas fa-times"></i>            
                </div>
    
            </div>
    
            <div class="sWFLBody">
                <p>
                    {{displayText}}
                </p>
            </div>
    
            <div class="sWFLFooter">
                <div class="sWFLFCloseAns"
                (click)="this.closeFeedbackLoop()">
                    Okay
                </div>
            </div>
            
        </div>
    </div>
    <div class="imgholdertest">
        
    </div>
</div>
