.loaderDiv{
    width: 100%;
    height: 85vh;
}
.innerLoaerDiv{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.noInternetError{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow:  5px 5px 7px #b3b3b3,
                 -5px -5px 7px #ffffff;
}
.nIEMain{
    width: 100%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
}
.nIEMHead{
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sadfacejpg{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.nIEMBody{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sadfacegif{
    width: 240px;
    height: 80%;
    object-fit: contain;
}
.nosite{
    display: none;
}