<div class="inventory">
    <div class="inventoryPageHead">
        Inventory
    </div>
    
    <div class="inventoryBody">

        <a routerLink="/productsAdded" class="inventoryToolsLink">
            <div class="inventoryToolsBut productsAddedBut">
                Products changed
            </div>
        </a>

        <a routerLink="/productsOrdered" class="inventoryToolsLink nosite">
            <div class="inventoryToolsBut productsOrderedBut">
                Products ordered
            </div>
        </a>

        <a routerLink="/productsSold" class="inventoryToolsLink">
            <div class="inventoryToolsBut productsSoldBut">
                Products sold
            </div>
        </a>

    </div>

</div>
