<div class="cartPage">
    <div class="cPHead">
        DALALI CART : {{this.userName}}
    </div>
    <div class="cPBody">
        <div class="cPBProductTileHolder">
            <div *ngFor="let cartProd of this.cartProdsArray" style="height: auto;"  id="cPBTHPT{{cartProd.id}}"
            class="cartProdItemHolder">
                <div class="cPBPTHProductTile">
                    <div class="prodImgDetails">
                        <div class="pIDImgHolder">
                            <img src="{{baseLink}}{{cartProd.img}}" alt="" class="pIDIHProdImg">
                        </div>
                        <div class="pIDControlButs">
                            <div class="pIDCBReducer pIDCButtons">
                                <div class="pIDCRButton" id="reduceProdQuant{{cartProd.id}}" (click)="this.pIDCRButton($event)">
                                    -
                                </div>
                            </div>
                            <div class="pIDCBProdNumb  pIDCButtons">
                                <input type="text" id="ProdQuant{{cartProd.id}}" value="{{cartProd.quantityOrdered}}"
                                class="prodQuantTxtIpt" (keyup)="this.prodNumbInput($event)">
                            </div>
                            <div class="pIDIncreaser  pIDCButtons">
                                <div class="pIDCIButton" id="addProdQuant{{cartProd.id}}"
                                (click)="this.pIDCIButton($event)">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prodDetSect">
                        <div class="pDSProdName pDSProdInfo">
                            <div class="pDSPNString">
                                {{cartProd.name}} {{cartProd.metrics}}
                            </div>
                            <div class="pDSPNRemove">
                                <div class="pDSPNRbutton" id="pDSPNRB{{cartProd.id}}"
                                (click)="this.pDSPNRbutton($event)">
                                    Remove
                                </div>
                            </div>
                        </div>
                        <div class="pDSOtherProdDet pDSProdInfo">
                            <div class="pDSOPDPriceDet">
                                <div class="pDSOPDPDTitle pDSODPDDiv">
                                    Price
                                </div>
                                <div class="pDSOPDPDValue pDSODPDDiv">
                                   {{cartProd.retailPrice}}
                                </div>
                            </div>
                            <div class="pDSOPDQuantityDet">
                                <div class="pDSOPDQDTitle pDSOPQDDiv">
                                    Quantity
                                </div>
                                <div class="pDSOPDQDValue pDSOPQDDiv">
                                    {{cartProd.quantityOrdered}} Pcs
                                </div>
                            </div>
                            <div class="pDSOPDTPriceDet">
                                <div class="pDSOPDTPDTitle pDSOPTDDiv">
                                    Total
                                </div>
                                <div class="pDSOPDTPDValue pDSOPTDDiv">
                                   {{cartProd.retailPrice*cartProd.quantityOrdered}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payoutDiv nosite">
            <div class="pDTile">

                <div class="pDTTotalNumberOfProducts pDTInfoTab">
                    <div class="pDTTOPString pDTITMiddleTab">
                        Quantity
                    </div>
                    <div class="pDTTOPValue">
                        {{this.totalProductsNumb}}
                    </div>
                </div>

                <div class="pDTTotalAmount pDTInfoTab">
                    <div class="pDTAString pDTITMiddleTab">
                        Total price
                    </div>
                    <div class="pDTAValue">
                        Ksh.{{this.totalPrice}}
                    </div>
                </div>
                
                <div class="pDTPaymentMethod ">
                    <div class="pDTPMString ">
                        Payment Method
                    </div>
                    <section class="pDTPMValue">
                        <div class="pDTPMVString">
                            Choose Your Payment Method
                            <input type="hidden" class="paymentCode" value="">
                        </div>
                    </section>

                    <ul class="paymentMethodsList">
                        <section *ngFor="let paymentMethod of this.paymentMethods">
                            <li class="paymentMethodList pMListItem" id="pMLI{{paymentMethod.id}}"
                            (click)="this.pMListItem($event)">
                                {{paymentMethod.name}}
                            </li>
                        </section>
                    </ul>

                </div>
                <div class="pDTDateOrdered pDTInfoTab nosite">
                    <div class="pDTDOString pDTITMiddleTab">
                        Date Ordered
                    </div>
                    <div class="pDTDOValue">
                        {{this.currentDate}}
                    </div>
                </div>

                <div class="closeCeckout">

                    <div class="closeCheckOutBut"
                    (click)="this.closeCheckout()">
                        Close
                    </div>

                </div>

                <div class="orderSubmitBut">
                    <div class="oSBDiv"
                    (click)="this.openingPrompt()">
                        Pay now
                    </div>
                </div>
            </div>
        </div>

        <div class="checkoutOpener">

            <div class="totalPriceHint">

                <div class="tPHLabel">
                    Total price
                </div>

                <div class="tPHValue">
                    KSh.{{this.totalPrice}}
                </div>

            </div>

            <div class="checkoutBut"
            (click)="this.openCheckout()">
                PURCHASE
            </div>
        </div>

        <div class="mpesaNumber nosite">
            <div class="mNBody">

                <div class="mNBHead">

                    <div class="mNBHTitle mNBHDiv">
                        M-PESA
                    </div>

                    <div class="mNBHClose mNBHDiv"
                    (click)="this.closingPayingWithMpesaPrompt()">
                        <i class="fas fa-times"></i>                           
                    </div>

                </div>

                <div class="mNBBody">

                    <p class="mNBBPara">
                        Enter the contact to pay with.
                        ( Phone number. Don't use the leading (+) sign in international phone number notation )
                    </p>

                    <div class="ansInput">
                        <input type="text" name="payingContact" id="payingContact"
                        placeholder="Paying Contact">
                    </div>

                </div>

                <div class="mNFooter">
                    <div class="pCsubmitter"
                    (click)="this.getPayingContact()">
                        Confirm
                    </div>
                </div>

            </div>
        </div>


        <app-single-way-feedback-loop>

        </app-single-way-feedback-loop>
    
    </div>
</div>