.wholeSignInPage{
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif; 
}
.SignInForm{
    width: 90%;
    height: auto;
    background-color: #e7e7e7;
    font-family: 'Open Sans', sans-serif; 
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    border-radius: 3px;
}
@media all and (min-width:600px) {
    .SignInForm{
        width: 400px;
        height: auto;
        background-color: #e7e7e7;
        font-family: 'Open Sans', sans-serif; 
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        left: 50%;
        top: 30px;
        transform: translate(-50%);
    }    
}
.signInFormHead{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInFormBody{
    width: 100%;
    height: auto;
}
.signInInput{
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    margin-bottom: 15px;
    border: 0px solid;
    border-bottom: 1px solid black;
}
.signInButton{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121420;
    color: #e7e7e7;
    cursor: pointer;   
    position: relative;
    left: 30%; 
    margin-bottom: 30px;
    border-radius: 3px;
}


.sWFLMain{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
    background-color: #12142046;
}
.sWFLMBody{
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 80px;
    transform: translate(-50%);
}
@media all and (min-width:600px) {
    .sWFLMBody{
        width: 350px;
        height: 250px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        left: 50%;
        top: 80px;
        transform: translate(-50%);
    }    
}
.sWFLMBody p{
    width: 90%;
    position: relative;
    left: 5%;
}
.sWFLMHead{
    width: 100%;
    height: 15%;
    padding: 3px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 90% 10%;
}
.sWFLDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}
.sWFLBody{
    width: 100%;
    height: 65%;
    padding: 3px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sWFLFooter{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sWFLFCloseAns{
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #121420;
    color: #fff;
    cursor: pointer;
}
.sWFLClose{
    cursor: pointer;
}
.loaderDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #0026ff1a;
}
.loaderSvg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.eyeBoxes{
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #121420;
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.passwordHolder{
    width: 100%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    margin-bottom: 15px;
    border: 0px solid;
    position: relative;
}
.nosite{
    display: none;
}
