<div class="wholeSignInPage">
    <form class="SignInForm">
        <div class="signInFormHead">
            Sign In
        </div>
        <div class="signInFormBody">

            <input type="text" name="SignInContact" id="SignInContact" placeholder="Contact" class="signInInput" autocomplete="username">
            <input type="password" name="signInPassword" id="signInPassword" placeholder="Password" class="signInInput" autocomplete="current-password">
            
            <div class="signInButton"(click)="signInButton($event)">
                Sign In
            </div>
            <a routerLink="/" routerLinkActive="active-link" class="nosite homeBut">Home</a>

        </div>
    </form>
    <div class="sWFLMain nosite">
        <div class="sWFLMBody">
    
            <div class="sWFLMHead">
    
                <div class="sWFLHTitle sWFLDiv">
                    DALALI
                </div>
    
                <div class="sWFLClose sWFLDiv"
                (click)="this.closeFeedbackLoop()">
                    <i class="fas fa-times"></i>            
                </div>
    
            </div>
    
            <div class="sWFLBody">
                <p>
                    {{displayText}}
                </p>
            </div>
    
            <div class="sWFLFooter">
                <div class="sWFLFCloseAns"
                (click)="this.closeFeedbackLoop()">
                    Okay
                </div>
            </div>
            
        </div>
    </div>
</div>
