<div class="wholeSignInPage">
    <form class="SignInForm">
        <div class="signInFormHead">
            Sign In
        </div>
        <div class="signInFormBody">

            <input type="text" name="SignInContact" id="SignInContact" placeholder="Contact" class="signInInput" autocomplete="username">
            <input type="password" name="signInPassword" id="signInPassword" placeholder="Password" class="signInInput" autocomplete="current-password">
            
            <div class="signInButton"(click)="signInButton($event)">
                Sign In
            </div>
            <a routerLink="/" routerLinkActive="active-link" class="nosite homeBut">Home</a>

            <div class="loaderDiv nosite">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto; animation-play-state: running; animation-delay: 0s;" width="150px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loaderSvg">
                    <path fill="none" stroke="#032a77" stroke-width="4" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round" style="transform: scale(0.8); transform-origin: 50px 50px; animation-play-state: running; animation-delay: 0s;">
                    <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0;256.58892822265625" style="animation-play-state: running; animation-delay: 0s;"></animate>
                    </path>
                </svg>
            </div>

        </div>
    </form>
    <div class="sWFLMain nosite">
        <div class="sWFLMBody">
    
            <div class="sWFLMHead">
    
                <div class="sWFLHTitle sWFLDiv">
                    DALALI
                </div>
    
                <div class="sWFLClose sWFLDiv"
                (click)="this.closeFeedbackLoop()">
                    <i class="fas fa-times"></i>            
                </div>
    
            </div>
    
            <div class="sWFLBody">
                <p>
                    {{displayText}}
                </p>
            </div>
    
            <div class="sWFLFooter">
                <div class="sWFLFCloseAns"
                (click)="this.closeFeedbackLoop()">
                    Okay
                </div>
            </div>
            
        </div>
    </div>
</div>
