@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --textColor:#2C2B3C;
    --links:#121420;
}
.mainNav{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    font-family: 'Open Sans', sans-serif; 
}
.pagesHoder{
    width: 100%;
    height: auto;
    position: relative;
    top: 60px;
    font-family: 'Open Sans', sans-serif; 
}
.linDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkList{
    width: 90%;
    height: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.linkItem{
    width: 25%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 5%;
    margin-right: 5%;
    border-radius: 3px;
    text-decoration: inherit;
    color: inherit;
}
.linkItem:hover{
    background-image: linear-gradient(rgb(255, 255, 255), #121420);
    color: #fff;
}
.companyTitle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyTitle a{
    text-decoration: inherit;
    color: black;    
}
.otherComps{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.otherComps a{
    text-decoration: inherit;
    color: black;        
}
.nosite{
    display:none
}