<nav class="mainNav">

    <div class="linDiv">
        <ul class="linkList">

            <li class="linkItem homeLink">
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>

            <li class="linkItem popularLink">
                <a routerLink="/popular" routerLinkActive="active-link">Popular</a>
            </li>

            <li class="linkItem categoriesLink">
                <a routerLink="/categories" routerLinkActive="active-link">Categories</a>
            </li>

            <li class="linkItem contactsLink">
                <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
            </li>
            
        </ul>
    </div>
    
    <div class="companyTitle">
        DALALI WINEHOUSE LTD
    </div>

    <div class="otherComps">
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>

</nav>

<router-outlet></router-outlet>