<div class="adminPage">
    <div class="adminPageHead">
        Admin Tools
    </div>
    <div class="adminPageBody">

        <a routerLink="/productManagement" class="adminToolsLink">
            <div class="adminToolsBut productManagement">
                Product management
            </div>
        </a>

        <a routerLink="/retailerManagement" class="adminToolsLink">
            <div class="adminToolsBut retailerManagement">
                Retailer management
            </div>
        </a>

    </div>
</div>