<div class="wholeProfilePage">
    <a routerLink="/signUp" class="linkButtons">            
        <div class="signUpButton profileButtons">
            Sign Up
        </div>
    </a>
    <a routerLink="/signIn" class="linkButtons">            
        <div class="signInButton profileButtons">
            Sign In
        </div>
    </a>
    
    <a routerLink="/superuser" class="linkButtons" *ngIf="this.userType=='superuser'">            
        <div class="superUserButton profileButtons">
            Tools
        </div>
    </a>
    <a routerLink="/admin" class="linkButtons" *ngIf="this.userType=='admin'">            
        <div class="adminButton profileButtons">
            Tools
        </div>
    </a>
    <a routerLink="/retailerTools" class="linkButtons" *ngIf="this.userType=='retailer'">            
        <div class="retailerButton profileButtons">
            Tools
        </div>
    </a>
</div>