.productSearchMainPage{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.productSearchInputHolder{
    width: 100%;
    height: 35px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 0px;
    box-sizing: border-box;
}
@media all and ( min-width: 800px) {
    .productSearchInputHolder{
        width: 100%;
        height: 40px;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 90% 10%;
    }
    
}
.productSearchInput{
    width: 98%;
    height: 90%;
    outline: none;
    border: 0px solid;
    font-size: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.closeResults{
    width: 20px;
    height: 20px;
    font-size: 100%;
    position: absolute;
    top: 7px;
    right: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e7e7e7;
}
@media all and (min-width:600px) {
    .closeResults{
        width: 30px;
        height: 30px;
        font-size: 90%;
        position: absolute;
        top: 7px;
        right: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        background-color: #e7e7e7;
    }
    
}
.searchBtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    cursor: pointer;
}
@media alla and (min-width:600px) {
    .searchBtn{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        cursor: pointer;
        background-color: #e7e7e7;
    }
    
}
.searchedProductsHolder{
    width:98%;
    max-height: 60vh;
    transition: all ease 0.2s;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e2e2e2f6;
    border-radius: 5px;
    position: relative;
    left: 1%;
    border: 1px solid #e7e7e7;
}
.searchedProductsHolder::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
@media all and (min-width:600) {
    .searchedProductsHolder::-webkit-scrollbar{
        width: 10px;
        background-color: transparent;
    }
    
}
.searchedProductsHolder::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: #121420;
    border-radius: 5px;
}
.searchedProductPelet{
    width: 95%;
    min-height: 50px;
    border-radius: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
    left: 2.5%;
    font-size: 90%;
}
.searchedProductPelet:hover{
    background-color: #e7e7e7;
}
.sPPDiv{
    height: 50%;
    width: 95%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    left: 2.5%;
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sPPDiv::-webkit-scrollbar{
    display: none;
}
@media all and (min-width:800px) {
    .sPPDiv{
        height: 50%;
        width: 95%;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        left: 2.5%;
        font-size: 100%;
    }
    
}
.clickableDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.nosite{
    display: none;
}