<div class="productSearchMainPage">
    <div class="productSearchInputHolder">
        <input type="text" name="productSearchInput" 
        id="productSearchInput" class="productSearchInput"
        placeholder="Search products" (keyup)="this.productSearchInput($event)">
    </div>
    <div class="searchedProductsHolder">
        <div>
            <div class="searchedProductPelet">
                <div class="searchedProductName">
                    Product name
                </div>
                <div class="searchedProductPrice">
                    product price
                </div>
            </div>
        </div>
    </div>
</div>
