<main class="homeMain">

    <div class="searchHolder">
        <app-product-search>
            
        </app-product-search>
    </div>

    <div class="addBanner">
        <app-bunner>

        </app-bunner>
    </div>
    <div class="homeCategories">
        <div *ngFor="let catDet of this.prodCats" class="catTablet">
            <app-home-categories
                [catId]="catDet[0]"
                [catName]="catDet[1]">
            </app-home-categories>
        </div>
    </div>
</main>

<div class="ageLimiter nosite">
    <div class="ageLimiterInnerDiv">
        <app-agelimiter>

        </app-agelimiter>
    </div>
</div>

<footer class="dalaliFooter">
    <app-contact-page>
        
    </app-contact-page>
</footer>
