<main class="homeMain">

    <div class="searchHolder">
        <app-search-page>

        </app-search-page>
    </div>

    <div class="addBanner">
        <app-bunner>

        </app-bunner>
    </div>
    <div class="homeCategories">
        <app-home-categories>
            
        </app-home-categories>
    </div>
</main>

<div class="ageLimiter nosite">
    <div class="ageLimiterInnerDiv">
        <app-agelimiter>

        </app-agelimiter>
    </div>
</div>
<a routerLink="/signIn" routerLinkActive="active-link" class="homeLink nosite">Home</a>

<footer class="dalaliFooter">
    <app-contact-page>
        
    </app-contact-page>
</footer>
