.homeMain{
    height: auto;
    width: 90%;
    position: relative;
    left: 5%;
}
.searchHolder{
    width: 95%;
    min-height: 40px;
    position: relative;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    border-radius: 5px;
}
@media all and (min-width:600px) {
    .searchHolder{
        width: 60%;
        min-height: 50px;
    }    
    
}
@media all and(min-width:800px) {
    .searchHolder{
        width: 40%;
        min-height: 50px;
    }    
}
.addBanner{
    width: 60%;
    height: 200px;
    position: relative;
    top: 60px;
    left: 20%;
}
@media all and (min-width:600px) {
    .addBanner{
        width: 60%;
        height: 350px;
        position: relative;
        top: 60px;
        left: 20%;
    }    
}
.homeCategories{
    position: relative;
    top: 60px;    
}
.dalaliFooter{
    position: relative;
    top: 60px;    
    margin-bottom: 5px;    
}
.nosite{
    display: none;
}