<main class="homeMain">

    <div class="searchHolder">
        <app-product-search>
            
        </app-product-search>
    </div>

    <div class="addBanner">
        <app-bunner>

        </app-bunner>
    </div>
    <div class="homeCategories">
        <div *ngFor="let catDet of this.prodCats" class="catTablet">
            <app-home-categories
                [catId]="catDet.id"
                [catName]="catDet.name">
            </app-home-categories>
        </div>
    </div>

    <app-agelimiter>

    </app-agelimiter>
    
</main>

<footer class="dalaliFooter">
    <app-contact-page>
        
    </app-contact-page>
</footer>
