<div class="retailerTools">
    <div class="retailerToolsHead">
        Retailer
    </div>
    <div class="retailerToolsBody">

        <div class="retailerToolsBut addingProducts">
            Products
        </div>

        <div class="retailerToolsBut addingCategories">
            Add Category
        </div>

        <div class="custOrders retailerToolsBut"
        (click)="this.customerOrdersLink()">
            Orders
        </div>

    </div>
    <div class="retailerToolsControls nosite">
        <div class="rTCAddingProductControl nosite">
            <div class="rTCAPCMainDiv">
                <div class="rTCAPMDHead">
                    <div class="rTCAPMDHText">
                        Adding Products
                    </div>
                    <div class="rTCAPMDHClosing">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="rTCAPMDBody">
                    <div class="rTCAPMDBNewProduct rTCAMDBToolsButtons">
                        New Product
                    </div>
                    <a routerLink="/addProducts" class="addingProductLink nosite">
                    </a>
                    <a routerLink="/customerOrders" class="customerOrdersLink nosite">
                    </a>
                    <a routerLink="/productManagement" class="pUPExistingProd">
                        <div class="adminToolsBut productManagement">
                            Existing Details
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>