<div class="superUserHolderDiv">
    <div class="superUserHead">
        Super User
    </div>
    <div class="superUserBody">
        <div class="addAdminBut controlButtons">
            Add Admin
        </div>
        <div class="systemMantainanceBut controlButtons">
            System Maintanance
        </div>
    </div>
    <div class="superUserControlsDiv noiste">
        <div class="adminSetterDiv nosite">
            <div class="adminControllers">
                <div class="adminControllersCancelBut">
                    Cancel
                </div>
                <div class="adminControllersDoneBut">
                    Done
                </div>
            </div>
            <div class="searchDiv">
                <app-product-search>
                    
                </app-product-search>
            </div>
        </div>
        <div class="systeMaintananceSect nosite">
            <div class="systemMaintainanceHead">
                <div class="systemMaintainanceHeadCancelBut">
                    Cancel
                </div>
                <div class="systemMaintainanceHeadDoneBut">
                    Done
                </div>
            </div>
            <div class="systeMaintananceSectBody">
                <app-system-maintanance>

                </app-system-maintanance>
            </div>
        </div>
    </div>
    <div class="systemMaintanancePopUp nosite">
        <div class="systemMaintainanceType">
            <div class="systemMaintainanceTypeHead">
                <div class="headString">
                    Type Of Maintainance
                </div>
                <div class="headClose">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="systemMaintainanceTypeBody">
                <div *ngFor="let maintainanceType of this.maintainanceTypes">
                    <div class="systemMaintainanceTypeButs" (click)="this.systemMaintainanceTypeButs($event)">
                        {{maintainanceType}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>