<div class="superUserHolderDiv">
    <div class="superUserHead">
        Super User
    </div>
    <div class="superUserBody">
        <div class="addAdminBut controlButtons">
            Add Admin
        </div>
        <div class="systemMantainanceBut controlButtons">
            System Maintanance
        </div>
    </div>
    <div class="superUserControlsDiv noiste">
        <div class="adminSetterDiv nosite">
            <div class="adminControllers">
                <div class="adminControllersCancelBut">
                    Cancel
                </div>
                <div class="adminControllersDoneBut">
                    Done
                </div>
            </div>
            <div class="searchDiv">
                <app-user-search>

                </app-user-search>
            </div>
        </div>
        <div class="systeMaintananceSect nosite">
            <app-system-maintanance>

            </app-system-maintanance>
        </div>
    </div>
    <div class="systemMaintanancePopUp">
        
    </div>
</div>