.searchDiv{
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 90% 10%;
    border: 1px solid black;
    border-radius: 3px;
}
#searchTBox{
    width: 100%;
    height: 90%;
    font-size: 100%;
    outline: none;
    border: 0px solid;
}
.serchButton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}