<div>
    <div class="contactdiv">
        <div class="userAccount contactItem">
            <div class="userAccountTitle contactItemTitle">
                Account
            </div>
            <div class="userAccountBody contactItemBody">
                <div class="clickable">
                    <a routerLink="/signUp" class="clickableLinkItem">
                        Sign Up
                    </a>                    
                </div>
                <div class="clickable">
                    <a routerLink="/signIn" class="clickableLinkItem">
                        Sign In
                    </a>
                </div>
            </div>
        </div>

        <div class="ourInfo contactItem nosite">
            <div class="ourInfoTitle contactItemTitle">
                Information
            </div>
            <div class="ourInfoBody contactItemBody">
                <div class="clickable">
                    <a routerLink="/aboutUs" class="clickableLinkItem">
                        About Us
                    </a>
                </div>
                <div class="clickable">
                    <a routerLink="/privaceyPolicy" class="clickableLinkItem">
                        Privacy Policy
                    </a>
                </div>
                <div class="clickable">
                    <a routerLink="/termsOfService" class="clickableLinkItem">
                        Terms Of Service
                    </a>
                </div>
            </div>
        </div>

        <div class="ourContact contactItem">
            <div class="ourContactTitle contactItemTitle">
                Contact
            </div>
            <div class="ourContactBody contactItemBody">
                <section class="oCSect">
                    <div>
                        <span><i class="fas fa-map-marker-alt"></i></span><span>Nairobi West Mall</span>
                    </div>
                </section>
                <section class="oCSectoulinks">
                    <div class="clickable">
                        <a href="mailto:dalaliwholesallers@gmail.com" class="contLinks" target="_blank">
                            <span><i class="far fa-envelope"></i></span><span>dalaliwholesallers@gmail.com</span>
                        </a>
                    </div>
                </section>
                <section class="oCSectoulinks">
                    <div class="clickable">
                        <a href="tel:+254791687707" class="contLinks" target="_blank">
                            <span><i class="fas fa-phone"></i></span><span>+254791687707</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <div class="supportedPayments contactItem">
            <div class="supportedPaymentsTitle contactItemTitle">
                Supported Payments
            </div>
            <div class="supportedPaymentsBody contactItemBody">
                <div>
                    Mpesa
                </div>
                <div>
                    Cash
                </div>
                <div>
                    Checks
                </div>
            </div>
        </div>
    </div>
    <div class="copyrightdiv nosite">
        <div class="firstDiv">

        </div>
        <div class="copyrightElement nosite">
            <section class="cRESect">
                <a routerLink="/aboutUs" class="clickableLinkItem">
                    COPYRIGHT &#169; Dalali WineHouse
                </a>
            </section>
        </div>
    </div>
</div>


